$base-text-color-white: #ffffff;

$bg-color-green: #5bb189;
$bg-color-blue: #3a6ba5;
$bg-color-orange: #ec632a;

$container-bg-color-black: #141b1c;
$price-card-bg-color-gray: #334247;

$txt-font-weight-300: 300;
$txt-font-weight-400: 400;
$txt-font-weight-700: 700;
